<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/app/customer.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Danh sách khách hàng</h1>

<div ng-app="myApp" ng-controller="CustomerController">
    <table>
        <thead>
        <tr>
            <th>Tên khách hàng</th>
            <th>Tuổi</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Ngày sinh</th>

            <th width="100"></th>
            <th width="100"></th>
        </tr>
        </thead>
        <tr ng-repeat="x in customerList">
            <td>{{ x.customerName }}</td>
            <td>{{ x.customerAge }}</td>
            <td>{{ x.customerPhoneNumber }}</td>
            <td>{{ x.customerEmail }}</td>
            <td>{{ x.customerDoB }}</td>
            <td><button type="button" ng-click="ctrl.editUser(u.id)" class="btn btn-success custom-width">Edit</button></td>
            <td><button type="button" ng-click="ctrl.removeUser(u.id)" class="btn btn-danger custom-width">Remove</button></td>
        </tr>
    </table>
</div>

</body>
</html>